.card {
    height: 60wh;
    margin: 25px;
    padding: 25px;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.center h4, h6 {
    font-weight: 400;
}