<ng-container>
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SL.No</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quanity</th>
                            <th>Total</th>
                            <th>Remove</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img style="width: 150px; height: 150px;" src="" alt=""></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                        </tr>
                        <td>
                            <td><button class="btn btn-danger">Remove all product</button></td>
                            <td><button routerLink="/shop" class="btn btn-danger">Buy more</button></td>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>