<section class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <img style="width: 20vh;" src="https://i.pinimg.com/564x/f0/ba/12/f0ba12101344ab39fe5221ac40a7369a.jpg" alt="">
                    <div class="footer-top-menu">
                        <ul>
                            <li>
                                <i class="fa fa-home"></i>
                                <span class="heading">Address:</span>
                                <span class="address">123 Home, Vietnam</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span class="heading">Email:</span>
                                <span class="email">
                                    <a href="mailto:lv.nhquang10@gmail.com">123123@gmail.com</a>
                                </span>
                                </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span class="heading">Phone:</span>
                                <span class="number">
                                    <a href="tel:+84702508285">123-456-789</a>
                                </span>
                            </li>
                            <li>
                                <a href="">
                                    <img style="width: 40vh;" src="https://cdn.webshopapp.com/shops/218525/files/371942398/payment-methods-epicerie-ludo.png" alt="Payment">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>My Account</h2>
                    <ul>
                        <li>
                            
                            <a href="">Information</a>
                        </li>
                        <li>
                            
                            <a href="">Order History</a>
                        </li>
                        <li>
                            
                            <a href="">My Wishlist</a>
                        </li>
                        <li>
                            
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            
                            <a href="">Site Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>Help & Contact</h2>
                    <ul>
                        <li>
                            
                            <a href="">Contact Us</a>
                        </li>
                        <li>
                            
                            <a href="">Returns</a>
                        </li>
                        <li>
                            
                            <a href="">Money Back Guarantee</a>
                        </li>
                        <li>
                            
                            <a href="">Community</a>
                        </li>
                        <li>
                            
                            <a href="">Announcements</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>About EcomApp</h2>
                    <ul>
                        <li>
                            
                            <a href="">Company Info</a>
                        </li>
                        <li>
                            
                            <a href="">News</a>
                        </li>
                        <li>
                            
                            <a href="">Investors</a>
                        </li>
                        <li>
                            
                            <a href="">Careers</a>
                        </li>
                        <li>
                            
                            <a href="">Policies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>About EcomApp</h2>
                    <ul>
                        <li>
                            
                            <a href="">Company Info</a>
                        </li>
                        <li>
                            
                            <a href="">News</a>
                        </li>
                        <li>
                            
                            <a href="">Investors</a>
                        </li>
                        <li>
                            
                            <a href="">Careers</a>
                        </li>
                        <li>
                            
                            <a href="">Policies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p style="text-align: center; color: #fff;">EcomApp ©2023. All rights reserved</p>
        </div>
    </div>
</section>