.footer-top {
    padding: 50px 0;
    background: #303030;
}

.footer-top-menu ul {
    padding: 0;
    margin: 0;
}

.footer-top-menu ul li {
    list-style-type: none;
    margin-top: 20px;
    color: #fff;
}

.footer-top-menu i {
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
}

.footer-top-menu ul li .heading {
    font-weight: 400;
    font-size: 15px;
}

.footer-top-menu ul li .address {
    color: #fff;
    padding-left: 10px;
    font-size: 15px;
}

.footer-top-menu ul li .email a {
    padding-left: 10px;
    color: #fff;
    transition: .3s all ease;
    font-size: 15px;
}

.footer-top-menu ul li .number a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
    text-decoration: none;
}

.footer-all-menu h2 {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    margin: 0;
}

.footer-all-menu ul {
    padding: 0;
    margin: 0px 0 0 0;
}

.footer-all-menu ul li {
    list-style-type: none;
    margin-top: 8px;
}

.footer-all-menu ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #666;
    font-size: 15px;
    transition: all .3s ease;
}