<div class="container">
    <div class="row">
        <ng-container *ngFor="let product of product$ | async">
            <div class="card col-md-3">
                <img src="{{product.image}}" alt="">
                <h4 style="white-space: initial; 
                overflow: initial; 
                text-overflow: ellipsis; 
                max-width: 100ch;">{{product.name}}</h4>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    (20)
                </span>
                <p>${{product.price}} <span class="origin-price">$200</span><span class="sale-off">(50% off)</span></p>
                <button  class="btn btn-dark" (click)="post(product)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>